<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randomscripturegeneratorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/rsgicon"
        android:label="Random Scripture Generator LDS"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FilterWorkActivity"
            android:theme="@style/BlueBackground"
            android:label="Filter By Work"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FilterBookActivity"
            android:theme="@style/GreenBackground"
            android:label="Filter By Book"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShowScriptureActivity"
            android:label="Show Random Scripture" />
        <activity
            android:name=".FavoritesActivity"
            android:theme="@style/YellowBackground"
            android:label="Favorites"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Log In"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".LoadingScreen"></activity>
    </application>

</manifest>