<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kazandzhy.randomscripture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/rsgicon"
        android:label="Random Scripture Generator LDS"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kazandzhy.randomscripture.MainActivity"></activity>
        <activity
            android:name="com.kazandzhy.randomscripture.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.FilterWorkActivity"
            android:label="Filter By Work"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.FilterBookActivity"
            android:label="Filter By Book"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.ShowScriptureActivity"
            android:label="Show Random Scripture" />
        <activity
            android:name="com.kazandzhy.randomscripture.FavoritesActivity"
            android:label="Favorites"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.LoginActivity"
            android:label="Log In"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.SignupActivity"
            android:label="Sign Up"
            android:parentActivityName="com.kazandzhy.randomscripture.MainActivity" />
        <activity
            android:name="com.kazandzhy.randomscripture.LoadJSONActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.kazandzhy.randomscripture.AlarmClockActivity"
            android:label="Daily Scripture"
            android:parentActivityName="com.kazandzhy.randomscripture.SettingsActivity"></activity>

        <receiver android:name="com.kazandzhy.randomscripture.AlarmReceiver"
            android:enabled ="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>